<div class="bg-white text-bg-white border rounded shadow-sm">
    <div class="container p-5">
    <h1 class="display-5 fw-bold">Not Found</h1>
    <p class="col-md-8 fs-4">
      The trace you requested (<%= params[:id] %>) could not be found.
    </p>
  </div>
</div>
