<div class="card shadow-sm mb-4">
  <div class="card-body">
    <div>
      <div class="row border-bottom d-none d-md-flex">
        <div class="col-12 col-md-4">&nbsp;</div>
        <div class="col-12 col-md-6 small fw-bold">Name</div>
        <div class="col-12 col-md-2 small fw-bold text-end">Time</div>
      </div>
      <% @waterfall.ordered.each do |span| %>
        <%= render "span", span: span %>
      <% end %>
    </div>
  </div>
</div>
